# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
build/
dist/
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.nox/
.mypy_cache/
.ruff_cache/
.dccache/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/*
nb_conda_kernels/
.jupyter/

.idea
.vscode
.DS_STORE
*.csv